<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>What happened before the Big Bang according to Kabbalah?</string>
		<key>ans1</key>
		<string>The descent of the spiritual Behinot, Partzufim, Sefirot &amp; worlds</string>
		<key>ans2</key>
		<string>We cannot say anything about what happened before the Big Bang</string>
		<key>ans3</key>
		<string>The universe existed at a state of infinite density &amp; temperature</string>
		<key>ans4</key>
		<string>All the matter in the universe existed smaller than a subatomic particle</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What is matter according to Kabbalah?</string>
		<key>ans1</key>
		<string>A physical substance that occupies space</string>
		<key>ans2</key>
		<string>The desire to bestow pleasure</string>
		<key>ans3</key>
		<string>Objects that take up space and contain mass</string>
		<key>ans4</key>
		<string>The desire to receive pleasure</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is NOT what the moment is called when the spark of bestowal permeates matter (i.e. the desire to receive pleasure) from above downward?</string>
		<key>ans1</key>
		<string>Breaking of the vessels</string>
		<key>ans2</key>
		<string>Crossing the Machsom</string>
		<key>ans3</key>
		<string>Shattering of the collective soul</string>
		<key>ans4</key>
		<string>Big Bang</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is the correct order of the four phases of evolutionary development?</string>
		<key>ans1</key>
		<string>1-Speaking, 2-Animate, 3-Vegetative, 4-Still</string>
		<key>ans2</key>
		<string>1-Still, 2-Vegetative, 3-Animate, 4-Speaking</string>
		<key>ans3</key>
		<string>1-Vegetative, 2-Still, 3-Animate, 4-Speaking</string>
		<key>ans4</key>
		<string>1-Still, 2-Speaking, 3-Animate, 4-Vegetative</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>How could Baal HaSulam, the 20th Century&apos;s most renowned Kabbalist, write about how the Earth was created, if Kabbalists only write about what they clearly attain &amp; perceive?</string>
		<key>ans1</key>
		<string>Kabbalists attain the ability to physically time travel to any period</string>
		<key>ans2</key>
		<string>Kabbalists attain Nature at its causal level &amp; can thus perceive how the causes of life cascade to their consequences in this world</string>
		<key>ans3</key>
		<string>Baal HaSulam was permitted to theorize how the Earth was created based on his attainments</string>
		<key>ans4</key>
		<string>Kabbalists sometimes write about situations that they do not clearly attain &amp; perceive</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>How could the Ari, the great Kabbalist who passed away in 1572 (three centuries before Charles Darwin), state that monkeys were an intermediary phase of development between animals and humans, i.e. since Kabbalists only write about what they clearly attain &amp; perceive?</string>
		<key>ans1</key>
		<string>This specific phenomenon was theorized by the Ari</string>
		<key>ans2</key>
		<string>Kabbalists attain Nature&apos;s Reshimot (records), which clearly show how Nature&apos;s causal forces expand into our world&apos;s perception</string>
		<key>ans3</key>
		<string>The Ari saw the evolution of the universe in a dream, then expressed it to his students, of which one wrote this specific phenomenon</string>
		<key>ans4</key>
		<string>Kabbalists sometimes write about situations that they do not clearly attain &amp; perceive</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What significant event in humanity&apos;s evolution took place approx. 5773 years ago?</string>
		<key>ans1</key>
		<string>It was the time of the first signs of beliefs in humanity, e.g. totemism &amp; animism</string>
		<key>ans2</key>
		<string>The first person appeared (called Adam) who questioned the meaning of life, attained spirituality &amp; wrote a book about it titled &quot;The Angel Raziel&quot;</string>
		<key>ans3</key>
		<string>The Kabbalist Abraham developed humanity&apos;s first Kabbalistic group</string>
		<key>ans4</key>
		<string>It was the time of the birth of the first religions: Judaism, then Christianity, then Islam</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following attributes the still level of development in the universe?</string>
		<key>ans1</key>
		<string>Plant life</string>
		<key>ans2</key>
		<string>Corals</string>
		<key>ans3</key>
		<string>The desire for respect</string>
		<key>ans4</key>
		<string>Stars, galaxies, planets, rocks, asteroids</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following desires attribute the speaking level of development in a person?</string>
		<key>ans1</key>
		<string>Honor</string>
		<key>ans2</key>
		<string>Knowledge</string>
		<key>ans3</key>
		<string>Spirituality</string>
		<key>ans4</key>
		<string>Family</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is NOT an attribute of the year 1995 and onward in humanity&apos;s evolution?</string>
		<key>ans1</key>
		<string>The desire for spirituality would begin developing in humanity &amp; thus humanity would begin increasingly needing the wisdom of Kabbalah to fulfill this desire</string>
		<key>ans2</key>
		<string>Crises in all areas of life would be exponentially increasing</string>
		<key>ans3</key>
		<string>Kabbalah dissemination started becoming much more widespread</string>
		<key>ans4</key>
		<string>Increasing optimism in humanity about the world and its future</string>
		<key>answer</key>
		<string>4</string>
	</dict>
</array>
</plist>
