<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>If the Creator created us in order for us to enjoy, then why do we find ourselves experiencing all kinds of problems and suffering?</string>
		<key>ans1</key>
		<string>There is also an anti-Creator that wants us to suffer</string>
		<key>ans2</key>
		<string>The Creator wants us to suffer first, in order to enjoy later</string>
		<key>ans3</key>
		<string>The Creator wants us to enjoy through a giving intention (like His), not through an egoistic intention</string>
		<key>ans4</key>
		<string>The Creator doesn&apos;t really want us to enjoy</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>If the Creator wants us to enjoy through a giving intention, then how do we attain a giving intention?</string>
		<key>ans1</key>
		<string>By doing at least one good deed everyday</string>
		<key>ans2</key>
		<string>By helping out more with charity &amp; volunteer work</string>
		<key>ans3</key>
		<string>By working to increase the importance of the Creator in a supportive environment</string>
		<key>ans4</key>
		<string>By taking less for myself</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what was the host&apos;s intention for inviting the guest over for a meal?</string>
		<key>ans1</key>
		<string>To have a good time</string>
		<key>ans2</key>
		<string>To delight the guest</string>
		<key>ans3</key>
		<string>The host had leftover food he thought the guest could finish</string>
		<key>ans4</key>
		<string>To get the money back that the guest owed him</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what was the guest&apos;s initial reaction when he saw the &quot;perfect meal&quot; that the host prepared?</string>
		<key>ans1</key>
		<string>The guest wanted to eat the meal</string>
		<key>ans2</key>
		<string>The guest wasn&apos;t hungry because he already ate</string>
		<key>ans3</key>
		<string>The guest strangely felt only like eating dessert</string>
		<key>ans4</key>
		<string>The guest wanted to leave</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what made the guest decide initially not to eat the meal, even though he wanted to eat it?</string>
		<key>ans1</key>
		<string>The guest felt that the host also needed to eat together with him</string>
		<key>ans2</key>
		<string>The guest felt that he could gain more by not eating</string>
		<key>ans3</key>
		<string>The guest felt like he needed to lose weight</string>
		<key>ans4</key>
		<string>The guest felt the host&apos;s giving intention toward him &amp; thus felt too ashamed to eat</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what is the action called when the guest decided not to eat the food, despite wanting to eat it?</string>
		<key>ans1</key>
		<string>Suppression</string>
		<key>ans2</key>
		<string>Repression</string>
		<key>ans3</key>
		<string>Restriction</string>
		<key>ans4</key>
		<string>Diet</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, after the guest decided not to eat the food, what made the guest eventually decide to eat the meal?</string>
		<key>ans1</key>
		<string>The host implored the guest to eat the meal &amp; the guest ate in order to delight the host</string>
		<key>ans2</key>
		<string>The guest gave in to his innate desire to eat the meal</string>
		<key>ans3</key>
		<string>The guest could no longer suppress his desire to eat</string>
		<key>ans4</key>
		<string>The host convinced the guest that the meal was low in calories</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what change took place in the guest between his initial desire to eat the meal &amp; his desire to eat after deciding not to eat it?</string>
		<key>ans1</key>
		<string>Change in desire - from a smaller desire to eat to a bigger desire to eat</string>
		<key>ans2</key>
		<string>Change in action - from simply eating, to playing a negotiation game before eating</string>
		<key>ans3</key>
		<string>Change in intention - from &quot;for the guest&apos;s benefit&quot; to &quot;for the host&apos;s benefit&quot;</string>
		<key>ans4</key>
		<string>Change in the meal - from eating a hot meal to eating a cooler meal</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>In the guest &amp; host allegory, what do the guest &amp; host represent?</string>
		<key>ans1</key>
		<string>Creation &amp; Creator</string>
		<key>ans2</key>
		<string>Two friends in this world</string>
		<key>ans3</key>
		<string>A poor man &amp; a rich man</string>
		<key>ans4</key>
		<string>An animal &amp; a human being</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>According to the guest &amp; host allegory, how can the change of intention in the creation be expressed in 5 steps?</string>
		<key>ans1</key>
		<string>Intention to Receive » Feeling of the Giver » Shame » Restriction » Intention to Give</string>
		<key>ans2</key>
		<string>Intention to Receive » Shame » Restriction » Intention to Give » Feeling of the Giver</string>
		<key>ans3</key>
		<string>Intention to Receive » Restriction » Shame » Feeling of the Giver » Intention to Give</string>
		<key>ans4</key>
		<string>Intention to Receive » Feeling of the Giver » Restriction » Shame » Intention to Give</string>
		<key>answer</key>
		<string>4</string>
	</dict>
</array>
</plist>
