<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>Is social life necessary or unnecessary for humans?</string>
		<key>ans1</key>
		<string>Necessary. If we wouldn&apos;t have connection with others, we would live lives of great hardship</string>
		<key>ans2</key>
		<string>Unnecessary. Humans can live perfectly fine in isolation</string>
		<key>ans3</key>
		<string>Unnecessary, but it&apos;s preferable</string>
		<key>ans4</key>
		<string>Unnecessary. Other people can bring sorrow to a person, so it&apos;s better to be alone</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What is the common numerical value of &quot;the Nature (Heb. HaTeva, ×”×˜×‘×¢)&quot; &amp; &quot;God (Heb. Elohim, ××œ×•×”×™×)&quot; in Gematria?</string>
		<key>ans1</key>
		<string>78</string>
		<key>ans2</key>
		<string>86</string>
		<key>ans3</key>
		<string>85</string>
		<key>ans4</key>
		<string>89</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What are the 2 fundamental laws of social life?</string>
		<key>ans1</key>
		<string>Reception &amp; Bestowal</string>
		<key>ans2</key>
		<string>Gravity &amp; Thermodynamics</string>
		<key>ans3</key>
		<string>Thou shalt not kill &amp; Thou shalt not commit adultery</string>
		<key>ans4</key>
		<string>Marginal returns &amp; Large numbers</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is NOT a definition of punishment according to the law of reception in society not being met?</string>
		<key>ans1</key>
		<string>A desire that is not in balance with the pleasure it wants</string>
		<key>ans2</key>
		<string>Lack of fulfillment</string>
		<key>ans3</key>
		<string>Not having your needs met</string>
		<key>ans4</key>
		<string>A thief being sentenced to 3 years of prison time</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is NOT an outcome of the law of bestowal in society not being met?</string>
		<key>ans1</key>
		<string>Global crisis</string>
		<key>ans2</key>
		<string>A person who doesn&apos;t give to charity gets bad karma</string>
		<key>ans3</key>
		<string>Increasing personal, social, economic &amp; ecological problems</string>
		<key>ans4</key>
		<string>Increasing depression, stress, debt, crime, natural disasters</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following does NOT define the law of bestowal entering society &amp; how it relates to the escalating crisis?</string>
		<key>ans1</key>
		<string>The emergence of a point of desire to bestow in people &amp; our trying to fulfill it with egoistic pleasures</string>
		<key>ans2</key>
		<string>Growing global interdependence &amp; relating to it out of excessive self-interest</string>
		<key>ans3</key>
		<string>Increasing negative interactions among people</string>
		<key>ans4</key>
		<string>Growing peaceful, harmonious relationships among people</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Why do relationships of bestowal upon society need to be fueled by the force of bestowal (i.e. the Creator, Nature)?</string>
		<key>ans1</key>
		<string>Because otherwise the fuel is egoism/reception which won&apos;t feel pleasure in relationships of bestowal</string>
		<key>ans2</key>
		<string>They don&apos;t. People can successfully bestow without the Creator</string>
		<key>ans3</key>
		<string>There is no need for relationships of bestowal in society. Society&apos;s doing fine as it is</string>
		<key>ans4</key>
		<string>Because if not, society will have a good life now, but not in the afterlife</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What is an example of a system of relationships of bestowal upon society, without being fueled by the force of bestowal?</string>
		<key>ans1</key>
		<string>Feudalism</string>
		<key>ans2</key>
		<string>Capitalism</string>
		<key>ans3</key>
		<string>Democracy</string>
		<key>ans4</key>
		<string>Communist Russia</string>
		<key>answer</key>
		<string>4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What is an example of a system of relationships of bestowal upon society, being fueled by the force of bestowal?</string>
		<key>ans1</key>
		<string>Communism</string>
		<key>ans2</key>
		<string>Capitalism</string>
		<key>ans3</key>
		<string>There is no such example we can identify</string>
		<key>ans4</key>
		<string>Democracy</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>What is the first step toward realizing a system of relationships of bestowal upon society, being fueled by the force of bestowal?</string>
		<key>ans1</key>
		<string>Mass of people who realize this connection among themselves &amp; spread the method of realizing such connection to anybody who wants it</string>
		<key>ans2</key>
		<string>Only spreading the method of realizing this connection without actually realizing the connection</string>
		<key>ans3</key>
		<string>Realizing this connection in a critical mass of people, with no intent to spread the method of how to do it</string>
		<key>ans4</key>
		<string>Nor realizing connection among people, nor educating about the method</string>
		<key>answer</key>
		<string>1</string>
	</dict>
</array>
</plist>
